<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fairino3_v6_robot">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import fairino3_v6_robot urdf file -->
    <xacro:include filename="$(find fairino_description)/urdf/fairino3_v6.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="fairino3_v6_robot.ros2_control.xacro" />

    <!-- include статического гриппера -->
    <xacro:include filename="$(find fairino3_v6_moveit2_config)/config/z-efg-100.xacro"/>

    <!-- Вызов макроса: прикрепляем к wrist3_link -->
    <!-- mesh: package URI, scale: 0.001 если STL в мм, иначе 1 -->
    <xacro:static_gripper
    parent="wrist3_link"
    prefix="gr_"
    mesh="package://fairino_description/meshes/z-efg-100.stl"
    scale="0.001"/>
    <xacro:fairino3_v6_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
